doctype html
html
  head
    //set viewport metadata for better display on mobile devices
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    //include themed bootstrap css
    link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css')
    link(rel='stylesheet', href='/stylesheet/style.css')
  body
    block content
    script(src='/javascript/jquery-3.2.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
